<h2><center> Mens </center></h2>

<div class = "grid">
<% @items.each do |item| %>
    <div class = "items">
    <center>
    <%= item.image_name %>
    </br>
    $<%= item.cost %>
    </br>
    <%= image_tag(item.url, :size => "107x98") %>
    </br>

    <button type="button" class="btn btn-secondary">
    Save
    </button>

    <button type="button" class="btn btn-secondary">
    <%= link_to 'Expand', shop_path(item) %>
    </button>
    
    </center>
  </div>
  <% end %>
</div>