
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <h2 class = "sideBarText"> Shop </h2>
  <a href="#">New-In</a>
  <a href="#">Mens</a>
  <a href="#">Womens</a>
  <a href="#">Kids</a>
</div>

<div class="topnav" id="main" >
<h2><center> Home </center></h2>
  <button class="openbtn" onclick="openNav()">☰ </button>
  <a class="active" href="#home">Search</a>
  <a class="active" href="#home">Shopping Cart</a>
</div>

<div class= "random_shop_collection">Random Item Collection slide show</div>

<h2 class="big_text"> Top Sellers </h2>

<div class= "top_sellers">  Items</div>



<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}
</script>



