<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>

<div class= "random_shop_collection">Random Item Collection slide show</div>

<h2 class="big_text"> Top Sellers </h2>

<div class= "top_sellers">  Items</div>