// Place all the styles related to the HomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(42, 157, 235);
    color: white;
  }

  .random_shop_collection {
    width: 50%;
    height: 300px;
    border: 5px solid black;
    margin-left: 25%;
    margin-top: 25px;
  }
 
  .big_text{
    font-size: 50px;
    text-align: center;
    margin-left: 30px;
    margin-top: 25px;
  }


  .top_sellers {
    width: 96%;
    height: 300px;
    border: 5px solid black;
    margin-left: 20px;
    margin-top: 25px;
  }