// Place all the styles related to the Newsletter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.newsletter{
    width: 96%;
    height: 300px;
    border: 5px solid black;
}

.content{
    margin-left: 15%;
    margin-top: 6%;
}