<h1 id="page_title">Subscribe to our newsletter!</h1>

    <div class="skinny_wrapper wrapper_padding">
        <%= form_for @email do |f| %>
            
            <%= f.label :email %><br>
            <%= f.text_field :email, required: true %>

            <br>
        <% end %>
    