<h2><center> Womens </center></h2>

<div class = "grid">
<% @items.each do |item| %>
    <div class = "items">
    <center>
    <%= item.image_name %>
    </br>
    $<%= item.cost %>
    </br>
    <%= image_tag(item.url, :size => "105x98") %>
    </br>
    <button type="button" class="btn btn-secondary">Save</button>
    </center>
  </div>
  <% end %>
</div>